<div id="main-menu" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <h1>
  					<a id="logo" class="brand" href="/">
  					  WebTorrent App
  					</a>
					</h1>
          <ul class="nav">
							<li ng-class="{'active': current_tab == '/torrents'}"><a href="#/torrents">Torrrents</a></li>
							<li ng-class="{'active': current_tab == '/tracker'}"><a href="#/tracker">Tracker</a></li>
							<li ng-class="{'active': current_tab == '/create'}"><a href="#/create">Create Torrent</a></li>
							<li ng-class="{'active': current_tab == '/users'}"><a href="#/users">Users</a></li>
					</ul>					
        <ul class="nav pull-right">
          <li><a href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>