<div class="row">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked nav-list">
            <li ng-class="{'active': tab == 'details'}">
                <a ng-click="setTab($event, 'details')" href="#">
                    <i class="icon-minus pull-right hide remove-group" rel="tooltip" title="Details"></i> Details
                </a>
            </li>
            <li ng-class="{'active': tab == 'options'}">
                <a ng-click="setTab($event, 'options')" href="#">
                    <i class="icon-minus pull-right hide remove-group" rel="tooltip" title="Options"></i> Options
                </a>

            </li>
        </ul>
    </div>
    <div class="span10" ng-if="tab == 'details'">
        <div class="row">
            <div class="span12">
                <strong>
                    ws tracker address:
                </strong>
                <span ng-if="tracker_opts.tracker_ws">
                    wss://{{host_name}}:{{tracker.ws_port}}
                </span>
                <span ng-if="!tracker_opts.tracker_ws">
                    disabled
                </span>
            </div>
            <div class="span12">
                <strong>
                    http tracker address:
                </strong>
                <span ng-if="tracker_opts.tracker_http">
                    http://{{host_name}}:{{tracker.http_port}}/anounce
                </span>
                <span ng-if="!tracker_opts.tracker_http">
                    disabled
                </span>                
            </div>
            <div class="span12">
                <strong>
                   udp tracker address:
                </strong>
                <span ng-if="tracker_opts.tracker_udp">
                    udp://{{host_name}}:{{tracker.udp_port}}
                </span>
                <span ng-if="!tracker_opts.tracker_udp">
                    disabled
                </span>
            </div>
        </div>
    </div>
    <div class="span10" ng-if="tab == 'options'">
        <h4>Tracker Options</h4>
        <form ng-submit="saveOptions($event)" class="form-inline">
            <div class="form-group row">
                <label for="span3">Enable Tracker: </label>
                <input ng-model="tracker_opts.tracker" type="checkbox" class="form-control">
            </div>
            <div class="form-group row">
                <label for="span3">Enable WS Tracker: </label>
                <input ng-model="tracker_opts.tracker_ws" type="checkbox" class="form-control">
            </div>
            <div class="form-group row">
                <label for="span3">Enable HTTP Tracker: </label>
                <input ng-model="tracker_opts.tracker_http" type="checkbox" class="form-control">
            </div>
            <div class="form-group row">
                <label for="span3">Enable UDP Tracker: </label>
                <input ng-model="tracker_opts.tracker_udp" type="checkbox" class="form-control">
            </div>
            <div class="form-group row">
                <label for="span3">Host name: </label>
                <input ng-model="tracker_opts.host_name" type="text" class="form-control">
            </div>
            <div class="form-group row">
                <label for="span3">Port: </label>
                <input ng-model="tracker_opts.port" type="text" class="form-control">
            </div>            
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</div>